<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title.toLowerCase() %></p>
<div id="photos">
    <% list.forEach(function(item) {%>
        <div class="item" style='background-image: url("<%=item.src%>")'>
            <div class="name"><%=item.name%></div>
        </div>
    <% }) %>
</div>
</body>
</html>
