<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title.toLowerCase() %></p>
<a href="/photo/upload">图片上传</a>
<div id="photos">
    <% list.forEach(function(item) {%>
        <div class="item" style='background-image: url("/photos/<%=item.path%>")'>
            <div class="name"><%=item.name%></div>
            <div class="operation-box">
                <div class="inner">
                    <a href="/photo/del/<%=item._id%>">
                        <img src="https://img.renlijia.com/201909/RLJ93mMlkRJcb1QxF3vSND6p5R-200-200.png" alt="">
                    </a>
                    <a href="photo/down/<%=item._id%>">
                        <img src="https://img.renlijia.com/201909/RLJRnLx3ve0wk5Xxe9VNK7555h-200-200.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    <% }) %>
</div>
</body>
</html>